body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  height:3000px
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 16px 32px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.03);
}

.navbar-left .avatar {
  width: 40px;
  height: 40px;
  background: #ddd;
  border-radius: 50%;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.login {
  font-weight: bold;
  font-family:'Poppins', Arial, sans-serif;
  font-size: 20px;
}

.talk-btn {
  background: #e91e63;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  font-weight: regular;
  cursor: pointer;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 20px;
  border-left: 30px;
}
.hero-image {
  position: relative;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 700px;
  display: block;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.mainint{
    font-family: 'Inspiration', cursive;
    font-size: 128px;
    font-weight: lighter;
}
.highlight {
    color: #e91e63;
}
.about-title {
  font-size: 36px;
 
  text-align: center;
  margin-bottom: 20px;
    font-family: 'Poppins', Arial, sans-serif;
    text-shadow: 5px 5px 6x rgba(0, 0, 0, 0.2);
    font-weight: regular;
}
p{
    font-size: 30px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: lighter;
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.sub-content {

font-family: 'Courier New', Courier, monospace;
font-weight: 200;
opacity: 70%;

}
.sub-content:hover {
  box-shadow: 0 8px 32px rgba(233,30,99,0.15);
}
